{% extends 'layout/page.html.twig' %}

{% block content %}
    <section class="py-2">
        {% if smelly_code is not null %}
            <h1 class="mt-5">{{ smelly_code.name }}</h1>
            <div class="ratio ratio-21x9">
                <embed src="https://carbon.now.sh/embed/{{ smelly_code|smelly_code }}"></embed>
            </div>
            <div class="d-grid gap-2">
                {% if is_granted("vote", smelly_code) %}
                    <a class="btn btn-outline-secondary" title="Down vote" href="{{ path('smelly_code_down_vote', {id: smelly_code.id}) }}">🥱 {{ smelly_code.downVotes|length }}</a>
                {% endif %}
                <a class="btn btn-outline-secondary" href="{{ path('smelly_code_skip', {id: smelly_code.id}) }}">Skip</a>
                {% if is_granted("vote", smelly_code) %}
                    <a class="btn btn-outline-secondary" title="Up vote" href="{{ path('smelly_code_up_vote', {id: smelly_code.id}) }}">🤮 {{ smelly_code.upVotes|length }}</a>
                {% endif %}
            </div>
        {% endif %}
    </section>

{% endblock %}
