{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {% if smelly_code is not null %}
            <h1>{{ smelly_code.name }}</h1>
            <embed src="https://carbon.now.sh/embed/{{ smelly_code|smelly_code }}"></embed>
            <nav>
                {% if is_granted("vote", smelly_code) %}
                    <a title="Down vote" href="{{ path('smelly_code_down_vote', {id: smelly_code.id}) }}">🥱 {{ smelly_code.downVotes|length }}</a>
                {% endif %}
                <a href="{{ path('smelly_code_skip', {id: smelly_code.id}) }}">Skip</a>
                {% if is_granted("vote", smelly_code) %}
                    <a title="Up vote" href="{{ path('smelly_code_up_vote', {id: smelly_code.id}) }}">🤮 {{ smelly_code.upVotes|length }}</a>
                {% endif %}
            </nav>
        {% endif %}
    </section>

{% endblock %}
