<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Smelly Code{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path("smelly_code_show") }}">Smelly Code</a>
                <ul>
                    <li>
                        <a href="{{ path("smelly_code_new") }}">Poster</a>
                    </li>
                    <li>
                        <a href="{{ path("smelly_code_top") }}">Top Smelly codes</a>
                    </li>
                    <li>
                        <a href="{{ path("user_top") }}">Top Users</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path("user_profile") }}">Profil</a>
                        </li>
                        <li>
                            <a href="{{ path("security_logout") }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path("security_login") }}">Sign in</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
